body {
    background: rgb(14,14,204);
    background: linear-gradient(180deg, rgba(14,14,204,1) 0%, rgba(0,212,255,1) 30%);
}

.typewriter {
    display: flex;
    justify-content: center;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}